{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="background-color: #2a2a2a2a; padding: 10px; margin-bottom: 20px">
            {% if user.is_authenticated %}

                <h1 style="color: #0a0a0a;">Welcome to the Missouri Soccer Tournament Home {{ user.username }}!</h1>

            {% else %}
                    <h1>Missouri Soccer Tournament Home</h1>

            {% endif %}
    </div>
            <div class="contentboxes">
                <div class="links">
                    <div class="thumbnail">
                        <!--<img src="{% static "images/customer.jpg" %}" alt="customer"/>-->
                        <div class="boxtitles">
                            <h2>Matches</h2>
                            <p><a class="btn btn-primary" href="{% url 'application:match_list' %}"
                                                  role="button">Go &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="thumbnail">
                    <!--<img src="{% static "images/nonstock.jpg" %}" alt="non-stock"/>-->
                    <div class="boxtitles">
                        <h2>Teams</h2>
                        <p><a class="btn btn-primary" href="{% url 'application:team_list' %}"
                                                  role="button">Go &raquo;</a></p>
                    </div>
                </div>
            </div>
{% endblock %}
